body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
  grid-column: 2/3;
  text-align: center;
  border: solid black;
}

.hello {
  grid-column: 2/3;
  grid-row: 2/3;
}

.textBoxContainer {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
}

.textBox {
  height: 25px;
  width: 200px;
}

.submitButton {
  height: 30px;
}

.englishHere {
  margin-top: 0px;
}

.display {
  grid-column: 2/3;
  grid-row: 4/5;
}
