#body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.title {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  border: solid black;
  border-radius: 10px;
}

.hello {
  grid-column: 2/3;
  grid-row: 3/4;
}

.textBoxContainer {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  margin: auto;
  margin-top: 0;
}

.textBox {
  height: 25px;
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
}

.submitButton {
  height: 30px;
}

.englishHere {
  margin-top: 0px;
}

.display {
  grid-column: 2/3;
  grid-row: 4/5;
  margin: auto;
  margin-bottom: 0;
}

#outputElement {
  margin-bottom: 15px;
}

p {
  font-style: oblique;
  font-weight: bold;
}

.bg-image {
  background-image: url(../images/flying-pig-260nw-646108162.jpg),
    url(../images/flying-pig-illustration-drawing-260nw-1211139319.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
}
